* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: relative;
    width: fit-content;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 20px;
    margin-bottom: 10px;
    width: fit-content;
    min-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding-right: 0;
}

@media screen and (max-width:1000px) {
    .container {
        display: flex;
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
    }

}

.vl {
    border-left: 1.5px solid #F2F2F2;
    height: 3rem
}

.border-radius {
    border-radius: 20px;
}

.input-form {
    padding-top:1rem;
    padding-left:30px;
    padding-bottom: 1rem;
    max-width: 20rem;
    padding-left: 10px;
    font-size: 1.4rem;
    border: 0ch;
}

.input-form:focus, textarea {
    outline: none;
}

.input-form::placeholder {
    color: grey
}

.button {
    padding-top:1rem;
    padding-bottom: 1rem;
    position: relative;
    cursor: pointer;
    color: grey;
    width: 9rem;
    padding-left: 10px;
    font-size: 1.3rem;
    border: 0ch;
}

.button:focus, textarea {
    outline: none;
}

.react-datepicker-wrapper {
    width: 9rem !important; 

}

.icon {
    margin-left: 10px;
}

.search-button {
    cursor: pointer;
    background-color: #008b8b;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
    width: 8rem;
    padding-left: 10px;
    font-size: 1.4rem;
    border: 0ch;
    padding-top:1rem;
    padding-bottom: 1rem;
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.seat-button {
    position: relative;
    width: 3rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.form-control {
    border: 0ch;
    max-width: 9rem;
}

.displayfalse {
    display: none;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.displaywrapper {
    display: absolute;
    float: right;
    height: 42px;
    width: fit-content;
    /* align-items: center;
    justify-content: center; */
    margin: auto;
    background-color: white;
    border-radius: 12px;
    margin-right: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.displaywrapper span {
    color: grey;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
}

.displaywrapper span.num {
    cursor: auto;
    font-size: 1.4rem;
    border-right: 2px solid rgba(0,0, 0, 0.1);
    border-left: 2px solid rgba(0,0, 0, 0.1);
}

.scale-in-top {
	-webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-22 23:2:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }

